<div>
<h3>Please upload a spreadsheet in comma-separated-values (CSV) format.</h3>
<input type="file" id="file">
<button ng-click="getData()">Read CSV</button>
<div id="config" ng-show="metaData">
	<h3>Let me know if these columns are numbers, categories, text or targets.</h3>
	<table>
		<tr ng-repeat="col in metaData">
			<td>{{col.name}}</td>
			<td>
			<select ng-model="col.dataType">
			      <option value="">---Please select---</option> <!-- not selected / blank option -->
			      <option value="number">Number</option> <!-- interpolation -->
			      <option value="target">Target</option>
			</select>
			</td>
		</tr>
	</table>
	<button ng-click="logisticRegression()">Classify</button>
</div>
<div id="results" ng-show="confusionMatrix">
<h3>Result Summary</h3>
<ul>
	<li>True Positive: {{confusionMatrix.tp}}</li>
	<li>True Negative: {{confusionMatrix.tn}}</li>
	<li>False Positive: {{confusionMatrix.fp}}</li>
	<li>False Negative: {{confusionMatrix.fn}}</li>	
</ul>
</div>
</div>